@model Portfolio.Models.LoginViewModel
 
<h2>Вход в приложение</h2>>
<form method="post" asp-controller="Account" asp-action="Login">
    <div asp-validation-summary="ModelOnly"></div>
    @Html.EditorForModel()
    <div>
        <input type="submit" value="Sign in"/>
    </div>
</form>