<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Portfolio</title>

    <meta content="" name="keywords">
    <meta content="" name="description">


    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/> *@


    @* Не было в оригинале *@
    @* <!-- Libraries CSS Files --> *@
    @* <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet"> *@



    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/> *@
    @* <link rel="stylesheet" href="~/Portfolio.styles.css" asp-append-version="true"/> *@

    <!-- Main Stylesheet File -->
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>
<header>
    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">STANLEY</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Work">Work</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="About">About</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Blog">Blog</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</header>

@RenderBody()


<!-- +++++ Footer Section +++++ -->

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>My Bunker</h4>
                <p>
                    Some Address 987,<br/> +34 9054 5455, <br/> Madrid, Spain.
                </p>
            </div>
            <!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>My Links</h4>
                <p>
                    <a href="#">Dribbble</a><br/>
                    <a href="#">Twitter</a><br/>
                    <a href="#">Facebook</a>
                </p>
            </div>
            <!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>About Stanley</h4>
                <p>This cute theme was created to showcase your work in a simple way. Use it wisely.</p>
            </div>
            <!-- /col-lg-4 -->
        </div>
    </div>
</div>

<div id="copyrights">
    <div class="container">
        <p>
            &copy; Copyrights <strong>Stanley</strong>. All Rights Reserved
        </p>
        <div class="credits">
            <!--
            You are NOT allowed to delete the credit link to TemplateMag with free version.
            You can delete the credit link only if you bought the pro version.
            Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/stanley-bootstrap-freelancer-template/
            Licensing information: https://templatemag.com/license/
            -->
            Created with Stanley template by <a href="https://templatemag.com/">TemplateMag</a>
        </div>
    </div>
</div>
<!-- / copyrights -->


@* <script src="lib/bootstrap/js/bootstrap.min.js"></script> *@
<script src="~/lib/php-mail-form/validate.js"></script>
@* <script src="lib/easing/easing.min.js"></script> *@
@* TODO: Разобраться с последними 2 либами *@



@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
<script src="~/lib/jquery/jquery.min.js"></script>
@* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)


<!-- Template Main Javascript File -->
<script src="~/js/main.js"></script>
</body>
</html>